.project-card {
  cursor: pointer;

  position: relative;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 200px;

  background-color: $color-primary;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 10px $shadow-color;

  transition: background-color $transition-default;

  &:not(:has(.dropdown__items--show)) .dropdown__toggle {
    opacity: 0;

    transition: opacity $transition-default;
  }

  @include hover {
    background-color: $color-primary-hover;

    .dropdown__toggle {
      opacity: 1 !important;
    }
  }
}

.project-card__title {
  cursor: text;
  user-select: text;

  margin-right: 40px;

  color: $color-accent;

  font-size: 30px;
  word-break: break-all;
}

.project-card__more-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.project-card__more-button {
  cursor: pointer;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: transparentize($color: $color-secondary, $amount: 0.5);

  transition: background-color $transition-default;

  @include hover {
    background-color: transparentize($color: $color-secondary, $amount: 0.9);
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.project-card__actions {
  margin-top: 20px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-top: 1px solid transparentize($color: $color-secondary, $amount: 0.8);

  @include breakpoint-down(mobile-small) {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}

.project-card__button {
  padding: 0;
}
