.projects__header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;

  @include breakpoint-down(mobile) {
    width: 95%;
  }
}

.projects__header-text {
  opacity: 0.6;
}
