.page-settings__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-settings__badge {
  .badge__title {
    padding-top: 40px;
    padding-bottom: 40px;

    font-size: 20px;
    text-align: center;
  }
}
