.page-card {
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid transparentize($color-secondary, 0.9);
}

.page-card__left-container {
  display: flex;
  align-items: center;
  gap: 40px;

  color: $text-primary;
}

.page-card__right-container {
  display: flex;
  align-items: center;
  gap: 10px;

  @include breakpoint-down(tablet) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.page-card__logo {
  --size: 70px;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  box-shadow: 0 0 0 1px transparentize($color-secondary, 0.8);

  @include breakpoint-down(mobile) {
    --size: 50px;
  }

  @include breakpoint-down(mobile-small) {
    display: none;
  }

  img {
    width: var(--size);
    height: var(--size);

    border-radius: 50%;

    object-fit: cover;
    object-position: center;
  }
}

.page-card__name {
  font-size: 30px;

  @include breakpoint-down(mobile-small) {
    font-size: 20px;
  }
}
